body {
    margin: 0%;
}

.carrousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

/*  1.- Width del 100% para que abarque toda la pantalla.
    2.- Con overflow establecemos la propiedad de scroll.
    3.- Padding del 30% para tener un margen de vista.
    4.- Pos:Relative porque queremos que los elementos
      que hereden se ajusten con base en este elemento padre. */

.carrousel__conteiner {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

/*  1.- WhiteSpace nowrap enlista todos los elementos en un solo renglón.
    2.- Establecemmos un pequeño espaciado entre los elementos de la lista.
    3.- Padding de 10px para evitar que se nos corte el elemento cuando hagamos hover. */

.carrousel-item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carrousel-item:hover ~ .carrousel-item {
    transform: translate3d(100px, 0, 0);
}

/* .carrousel-item:hover ~ .carrousel-item 
        Esta linea inidica que todos los elementos posteriores al item de
        la clase .carousel__item que se encuentra en estado hover,
        serán transladados 100px en el eje x (translate3d (x,y,z). */

/*  Carousel hover.
    1.- Desplaza los elementos hacia la derecha.
    2.- ~ Selecciona todos los elementos excepto el elemento que está seleccionado. */

.carrousel__conteiner:hover .carrousel-item {
    opacity: 0.3;
}

/*  .carrousel__conteiner:hover .carrousel-item
        Esta linea de código indica que al momento de que el container
        (donde se alojan todos los items) todos los elementos con
        la clase .carousel_item tendran una opacidad de 0.3 en una
        escala de 0 a 1 o bien el 30% de su opacidad original. */

/* 1.- Es la opacidad que va entre 0 y 1 como valores. */

.carrousel__conteiner:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

/* .carrousel__conteiner:hover .carrousel-item:hover
        Esta linea de codigo nos indica que unicamente el item,
        que se necuentre en estado hover recibira los cambios hechos dentro del selector. */

/*  1.- Escala en 1.5 la imagen seleccionada.
    2.- Cuando se le haga hover a un elemento específico, pone la opacidad en 1. */

.carrousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carrousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}