body {
    margin: 0px;
    background-color: #8f57fd;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}

.header {
    background-color: ##8f57fd;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}